<a class="waves-effect waves-light btn" href="/bright_ideas">Back</a>
<h3>Name: <%= @user.name %></h3>
<h3>Alias: <%= @user.alias %></h3>
<h3>Email: <%= @user.email %></h3>
<hr />
<h4>Total Ideas: <%= @idea.count %></h4>
<h4>Total Likes: <%= @likes.count %></h4>